.masthead {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    padding: 25px 0 10px;
    transition: $transition;

    &.scrolled {
        padding: 15px 0;
        background: $color-quinary;
        transform: translateY(-100%);
    }

    &.in-view {
        transform: translateY(0);
    }

    .container {
        @media (min-width: 1400px) {
            max-width: 1374px;
        }
    }


    &__inner {

        @include media-breakpoint-up(lg) {
            background-color: $color-secondary;
            padding: 1rem 2.25rem 1rem 3.25rem;
            border-radius: 32px;
            box-shadow: 0px 0px 30px #00000029;
        }
    }

    &__logo {
        font-size: 2.25rem;
        letter-spacing: -0.027em;
    }

    &__logo-link {
        position: relative;
        // top: -5px;

        @include media-breakpoint-down(md) {
            top: 0;
        }
    }

    &__nav {
        display: none;

        ul {
            list-style: none;
            padding: 0;
            margin: 0 -12px;
            font-size: 0;
        }

        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 15px;
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;

            &.nav-login {
                @include media-breakpoint-up(lg) {
                    height: 40px;
                    width: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px solid #E2E2E2;
                    padding: 0;

                    i {
                        margin: 0;
                        font-size: 13px;
                        top: -1px;
                        position: relative;
                    }

                    .nav-item-title {
                        display: none;
                    }
                }
            }

            &.nav-book {
                background-color: $color-quaternary;
                padding: 1rem;
                padding-inline: 2rem;
                border-radius: 2rem;
                margin-left: 1rem;

                a {
                    color: $color-secondary;
                }
            }

            &.menu-item-has-children {
                position: relative;

                >a {
                    position: relative;
                    z-index: 2;
                    padding-right: 12px;

                    &:hover,
                    &:focus {
                        &:after {
                            border-top: 6px solid $color-quaternary;
                        }
                    }

                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 60%;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-top: 6px solid $white;
                        border-right: 3px solid transparent;
                        border-bottom: none;
                        border-left: 3px solid transparent;
                        transform: translateY(-50%);
                        transition: $transition;
                    }
                }

                &.active {
                    z-index: 2;

                    .sub-menu {
                        display: block;
                    }

                    >a {
                        &:after {
                            transform: translateY(-50%) rotate(-180deg);
                        }
                    }
                }
            }

            &.current-menu-item,
            &.current_page_parent {
                a {
                    color: $color-quaternary;

                    &:after {
                        border-top: 6px solid $color-quaternary;
                    }
                }
            }
        }

        a {

            span,
            i {
                transition: none;
            }

            i {
                vertical-align: middle;
                margin-right: 5px;
                font-size: 0.9rem;
            }

            span {
                vertical-align: middle;
            }

            // &.btn {
            //     transform: translateY(-1px);
            // }
        }

        .sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            padding: 50px 30px 50px;
            background: url(../images/nav-texture.svg) center no-repeat;
            background-size: 100% 100%;
            text-align: center;
            transform: translateX(-44%);

            li {
                display: block;
                padding: 0;
                margin-bottom: 15px;
                font-weight: 600;
                white-space: nowrap;

                a {
                    color: $white;

                    &:hover,
                    &:focus {
                        color: $color-quaternary;
                    }
                }
            }
        }
    }
}

.error404 {
    .masthead__nav li.current_page_parent {
        a {
            color: $white;

            &:hover,
            &:focus {
                color: $color-quaternary;
            }
        }
    }
}