/* Gravity Forms
================ */

.gform_wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 0;
  margin: 0 auto;

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .gform_body {
    position: relative;
  }

  .gform_fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 ($grid-gutter-width / 2 * -1);
  }

  .gfield {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 ($grid-gutter-width / 2);
    margin-bottom: 40px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }

    &.field-medium {
      flex: 0 0 50%;
      max-width: 300px;

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &.field-small {
      flex: 0 0 (100% / 3);
      max-width: (100% / 3);

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &.field-large {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &.tick-options {
      max-width: 430px;
    }

    &.gfield_footer {
      flex: 0 0 auto;

      @include media-breakpoint-down(sm) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .

  .gfield_label {
    font-size: 1.8rem;
    font-weight: bold;
    color: $white;
  }

  .hidden_label {
    .gfield_label {
      display: none !important;
    }
  }

  .gfield_required {
    display: none;
  }

  .gfield_radio,
  .gfield_checkbox {
    > li {
      margin-bottom: 10px;
    }
  }

  .gform_footer {
    text-align: center;

    .btn {
      min-width: 0;
    }
  }

  .gform_validation_container {
    display: none;
  }

  .gfield_description {
    line-height: 1.7;
    font-size: 1.4rem;
  }

  .ginput_container_consent {
    + .gfield_description {
      padding-left: 35px;
    }
  }

  .validation_error {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.4rem;
    font-weight: 600;
    color: $white;
  }

  .validation_message {
    display: block;
    padding-top: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    color: $white;
  }
}

.gform_confirmation_wrapper {
  padding: 30px 0;
  text-align: left;
  font-size: 1.8rem;
  color: $white;
  max-width: 600px;
}

.modal__inner {
  .gform_confirmation_wrapper {
    padding: 30px 0;
    text-align: left;
    font-size: 1.8rem;
    color: $white;
    max-width: 600px;
    margin: 0 auto;
  }
}

.gform_ajax_spinner {
  display: none;
}

input {
  width: 100%;
  height: 45px;
  padding: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba($white, 0.5);
  font-size: 1.8rem;
  font-weight: 600;
  box-sizing: border-box;
  outline: 0 !important;
  box-shadow: none !important;
  background: none;
  appearance: none;
  color: $white;
}

textarea {
  width: 100%;
  height: 185px;
  padding: 18px 25px;
  border-radius: 10px;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  box-shadow: none !important;
  box-sizing: border-box;
  outline: 0 !important;
  background: $white;
  appearance: none;
  color: $black;

  &::placeholder {
    color: $black;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $black;
  }

  &::-ms-input-placeholder {
    color: $black;
  }
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  left: -999999px;
  cursor: pointer;
  height: auto;
  appearance: none;

  + label {
    display: block;
    position: relative;
    padding-left: 35px;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 1.65;
    margin: 0;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 21px;
      height: 21px;
      border: 2px solid $color-quaternary;
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  &:checked {
    + label {
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 8px;
        top: 8px;
        margin: 0;
        width: 5px;
        height: 5px;
        background: $color-quaternary;
        border-radius: 50%;
        vertical-align: middle;
      }
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  left: -999999px;
  cursor: pointer;
  height: auto;

  + label {
    display: block;
    position: relative;
    padding-left: 35px;
    box-sizing: border-box;
    font-size: 1.4rem;
    line-height: 1.65;
    margin: 0;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0;
      width: 21px;
      height: 21px;
      border: 2px solid $color-quaternary;
      border-radius: 5px;
      box-sizing: border-box;
      cursor: pointer;
    }
  }

  &:checked {
    + label {
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        bottom: auto;
        margin: auto 0;
        left: 7px;
        top: 3px;
        width: 7px;
        height: 13px;
        border: solid $color-quaternary;
        border-width: 0 2px 2px 0;

        transform: rotate(45deg);
      }
    }
  }
}

select {
  padding: 0 25px 0 0;
  margin: 0;
  text-overflow: "";
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid rgba($white, 0.5);
  border-radius: 0 !important;
  width: 100%;
  max-width: 300px;
  height: 45px;
  outline: 0 !important;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-position: 100% center;
  background-repeat: no-repeat;
  background-color: transparent;
  color: $white;

  option {
    color: $black;
  }
}

select::-ms-expand {
  display: none;
}
