/* Colours
========== */

$black: #000;
$white: #fff;

$darkgrey: #222;
$grey: #9a9a9a;
$lightgrey: #eee;

/* Brand Colours
================ */

$color-primary: #634DDC;
$color-secondary: #1F1F34;
$color-tertiary: #FFCB39;
$color-quaternary: #4FDDC2;
$color-quinary: #4B36B9;

/* Element Colours
================== */

$color-border-primary: #6E5ADF;
$offwhite: #f1f5f7;

/* Misc Colours
================ */

$selection: #b3d4fc;

$fail: #ff173a;
$success: #4caf50;

$facebook: #3b5995;
$twitter: #1DA1FA;
$linkedin: #007BB5;
$instagram: #E1306C;

/* Fonts
======== */

$font-heading: 'Avenir Next Cyr', serif;
$font-body: 'Avenir Next Cyr', sans-serif;

/* Transitions
============= */

$transition: 300ms;

/* Breakpoints
============== */

$site-width: 1440px;
$content-width: 720px;

$br-laptop: 1350px;
$br-desktop: 1650px;
