/* Colours
========== */

$black: #000;
$white: #fff;

$darkgrey: #222;
$grey: #9a9a9a;
$lightgrey: #eee;

/* Brand Colours
================ */

$color-primary: #634ddc;
$color-secondary: #1f1f34;
$color-tertiary: #ffcb39;
$color-quaternary: #4fddc2;
$color-quinary: #4b36b9;

/* Element Colours
================== */

$color-border-primary: #6e5adf;
$color-border-secondary: #8a7ae5;
$offwhite: #f1f5f7;

/* Misc Colours
================ */

$selection: #b3d4fc;

$fail: #ff173a;
$success: #4caf50;

$facebook: #3b5995;
$twitter: #1da1fa;
$linkedin: #007bb5;
$instagram: #e1306c;

/* Fonts
======== */

$font-heading: "Avenir Next Cyr", serif;
$font-body: "Avenir Next Cyr", sans-serif;

/* Transitions
============= */

$transition: 300ms;

/* Breakpoints
============== */

$site-width: 1440px;
$content-width: 720px;

$br-laptop: 1350px;
$br-desktop: 1650px;
