.contact-details {
    &__inner {
        border-top: 1px solid $color-border-primary;
        border-bottom: 1px solid $color-border-primary;

        .header-title-pos {
            position: relative;
            z-index: 1;
        }
    }

    &__image {
        position: absolute;
        top: -100px;
        right: -25px;
        z-index: 0;
        max-width: 45%;

        @include media-breakpoint-down(md) {
            top: 100px;
            max-width: 45%;
        }

        @include media-breakpoint-down(xs) {
            max-width: 225px;
        }

        //@media only screen and (max-width: 400px) {
        //    top: 0;
        //}
    }

    &__col {
        padding-top: 70px;
        padding-bottom: 70px;

        &:first-child {
            border-right: 1px solid $color-border-primary;
            @include media-breakpoint-down(sm) {
                border-right: none;
                border-bottom: 1px solid $color-border-primary;
            }

            .contact-details__content {
                padding-left: 0;
            }
        }
    }

    &__content {
        max-width: 510px;
        padding: 0 30px;
        margin: 0 auto;

        @include media-breakpoint-down(sm) {
            padding: 0;
            max-width: 100%;
        }

        .copy-l {
            line-height: 1.75;
        }
    }
}
