.content-modals {
    position: relative;
    z-index: 1;


    .container {
        position: relative;
        padding-top: 120px;
        padding-bottom: 160px;
        max-width: 1300px;


        @include media-breakpoint-down(md) {
            padding-top: 80px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .background-text {
        position: absolute;
        top: 100px;
        left: 50%;
        white-space: nowrap;
        transform: translateX(-50%);
    }

    &__items {
        padding-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        @include media-breakpoint-down(sm) {
            padding-top: 30px;
            grid-template-columns: 1fr;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        margin-bottom: 2rem;
        gap: 2rem;

        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }

        img {
            width: 32px;
            height: auto;
            object-fit: contain;
        }
    }

    &__item {
        padding: 3rem;
        border: 1px solid #FFF3;
        border-radius: 22px;
    }

    &__graphic {
        position: absolute;
        z-index: 2;

        @include media-breakpoint-down(sm) {
            img {
                max-width: 60%;
            }
        }

        &:nth-child(1) {
            top: -60px;
            left: -20px;
            transform: translateY(-50%);


            @include media-breakpoint-down(sm) {
                left: 10px;
                top: -120px;
            }

        }

        &:nth-child(2) {
            bottom: 10px;
            right: -20px;
            transform: translateY(50%);

            @include media-breakpoint-down(sm) {
                right: 0;
                bottom: -120px;
            }

        }
    }

    .btn-wrap {
        margin-top: 3rem;
    }
}