.family {
    position: relative;
    z-index: 1;
    text-align: center;

    padding-top: 60px;
    padding-bottom: 60px;

    @include media-breakpoint-down(sm) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .background-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 10;
    }

    &__logos {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        // height: 100%;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__path {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 90%;
        max-width: 1395px;
        height: 500px;
        // margin: 0 auto;

        svg {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;

            // &:nth-of-type(1) {
            //     transform: rotate(2deg);
            // }

            // &:nth-of-type(2) {
            //     height: 85%;
            //     top: -10%;
            //     margin: auto;
            //     right: 0;
            //     transform: rotate(-2deg);
            // }

            // &:nth-of-type(3) {
            //     width: 90%;
            //     left: 5%;
            //     margin: auto;
            // }

            // &:nth-of-type(4) {
            //     height: 110%;
            //     top: -20%;
            //     right: 0;
            //     margin: auto;
            //     transform: rotate(2deg);
            // }

            // &:nth-of-type(5) {
            //     width: 110%;
            //     left: -5%;
            //     right: 0;
            //     margin: auto;
            //     transform: rotate(3deg);
            // }

            // &:nth-of-type(6) {
            //     width: 120%;
            //     left: -10%;
            //     height: 90%;
            //     top: 5%;
            //     right: 0;
            //     margin: auto;
            //     transform: rotate(5deg);
            // }

            // &:nth-of-type(7) {
            //     height: 110%;
            //     left: 0%;
            //     top: -5%;
            //     right: 0;
            //     margin: auto;
            // }

            // &:nth-of-type(8) {
            //     width: 90%;
            //     right: 0;
            //     margin: auto;
            // }

            // &:nth-of-type(9) {
            //     height: 80%;
            //     top: -10%;
            //     margin: auto;
            //     right: 0;
            // }
        }
    }

    &__logo {
        position: absolute;
        // top: 10%;

        &:nth-child(1) {
            top: 0;
            left: 0;
            z-index: 100;
        }

        &:nth-child(2) {
            top: 15%;
            left: 32%;
            z-index: 100;
        }

        &:nth-child(3) {
            top: 70%;
            left: 50%;
            z-index: 100;
        }

        &:nth-child(4) {
            top: 5%;
            right: -10%;
            z-index: 20;
        }

        &:nth-child(5) {
            top: 72%;
            left: -14%;
            transform: translateY(-50%);
            z-index: -1;
        }

        &:nth-child(6) {
            bottom: 0;
            left: 12%;
        }

        &:nth-child(7) {
            bottom: 0;
            left: 57%;
        }

        &:nth-child(8) {
            bottom: 14%;
            right: -15%;
            transform: translateY(-50%);
        }
    }

    &__wrapper {
        position: relative;
        padding: 150px 0;

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
}
