.signposts {
    &--top-border {
        hr {
            border-top: 3px solid $color-border-secondary;
            margin-bottom: 65px;
        }
    }

    &__col {
        margin-bottom: 30px;

        @include media-breakpoint-down(sm) {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__heading {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    &__btn {
        padding-top: 60px;
        text-align: center;
    }
}
