.text-layout {
    position: relative;

    .container {
        position: relative;
        z-index: 2;
    }

    h2 {
        margin-bottom: 25px;
    }

    &.block-space {
        padding: 220px 0;

        @include media-breakpoint-down(md) {
            padding: 150px 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 100px 0;
        }

        @include media-breakpoint-down(xs) {
            padding: 40px 0;
        }

        &--no-top {
            padding-top: 0;
        }

        &--no-bottom {
            padding-bottom: 0;
        }
    }

    //&--offset-image {
    //    .text-layout__image {
    //        @include media-breakpoint-down(md) {
    //            margin-left: 0;
    //            margin-right: 0;
    //            left: -20%;
    //        }
    //    }
    //}

    &__video {
        max-width: 480px;
        display: block;
        margin-top: 40px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 50px;
        }

        &__image {
            position: relative;
            top: 0;
            left: 0;
            padding-top: 60%;
            cursor: pointer;
            transition: $transition;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
            margin-bottom: 10px;
            transition: 0.5s ease all;

            &:hover, &:focus {
                transform: scale(1.02);

                .play {
                    &:after {
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                    }

                    &:before {
                        opacity: 1;
                        visibility: visible;
                        pointer-events: auto;
                    }
                }
            }


            // &.active {
            //     opacity: 0;
            //     visibility: hidden;
            //     pointer-events: none;
            // }
        }

        .play {

        }

    }

    &--image-right {
        .text-layout__image {
            right: 75px;
            transform: translateX(50%);

            @include media-breakpoint-down(sm) {
                position: relative;
                top: 0;
                right: 0;
                transform: translateX(0);
            }
        }
    }

    &--intro-text {
        .text-layout__image {
            top: 20px;
        }
    }

    &.text-layout--lower-background-text {
        .background-text {
            top: 40%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    .background-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__image {
        position: absolute;
        top: -30px;
        z-index: 4;
        transform: translateX(-25%);

        @include media-breakpoint-down(md) {
            position: relative;
            top: 0;
            transform: translateX(0);
        }

        @include media-breakpoint-down(sm) {
            max-width: 340px;
            margin: 0 auto 50px;
        }

        img {
            max-width: none;

            @include media-breakpoint-down(lg) {
                max-width: 120%;
            }

            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
        }
    }

    &__split-row {
        min-height: 180px;

        @include media-breakpoint-down(md) {
            min-height: 0;
        }
    }

    &__intro {
        max-width: 475px;
    }

    &.section-two-image-position {
        .text-layout__image {
            top: 0;
            // left: -50px;
            // width: 95%;

            img {
                max-width: 700px;

                @include media-breakpoint-down(lg) {
                    max-width: 120%;
                }

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }
    }

    &.section-five-image-postion {
        .text-layout__image {
            @include media-breakpoint-down(lg) {
                right: -60px;
            }

            img {
                max-width: 700px;

                @include media-breakpoint-down(lg) {
                    max-width: 80%;
                }

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }
    }
}
