#edittag {
    width: 100%;
    max-width: 100%!important;
}

.mce-menu .mce-menu-item.mce-active.mce-menu-item-preview .mce-text {
    color: white;
}

.mce-menu .mce-menu-item.mce-active.mce-menu-item-preview:hover .mce-text {
    color: #444;
}

i.mce-i-icon {
    font: 400 20px/1 dashicons;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}

.acf-image-uploader .image-wrap img {
    max-height: inherit;
    max-width: inherit;
}
